!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      untitled
      
    - ['jquery', 'jquery.history_remote', 'jtag', 'jr', 'app'].each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript', :charset => 'utf-8'}
    
  %body
  
    #header
      %h1 Jr
    #page_content
      #main
    